<div>
    @if(isLoading){
      <div>
        Loading data...
      </div>
    }
  
    @if (!isLoading && trackName && trackArtist){
      <div>
        <h3>{{ trackName }} by {{ trackArtist }}</h3>
      </div>
    }
  
    @if (!isLoading && (originalLyrics || translatedLyrics)) {
      <div class="lyrics-container">
        @if(originalLyrics){
          <div class="lyrics-column">
            <h3>Original Lyrics</h3>
            <pre>{{ originalLyrics }}</pre>    
          </div>
        }
        @if(translatedLyrics){
          <div class="lyrics-column">
            <h3>Translated Lyrics</h3>
            <pre>{{ translatedLyrics }}</pre>
          </div>
        }
      </div>
    }
  
    @if(errorMessage){
      <div class="error">
        <p>Error: {{ errorMessage }}</p>
      </div>
    }
  </div>