body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
}

div {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h3 {
    margin-top: 20px;
    color: #444;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    cursor: pointer;
    color: #fff;
    background-color: #007BFF;
    border: none;
    transition: background-color 0.3s ease;
}


button[disabled] {
    background-color: #cccccc;
    cursor: not-allowed;
}

[mat-raised-button] {
    margin-top: 10px;
    font-weight: bold;
}

button[type="button"] {
    background-color: #dc3545;
}

button[type="button"]:hover {
    background-color: #b02a37;
}

select#theme {
    background-color: #e9ecef;
    font-weight: bold;
}

div h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

div p {
    margin: 5px 0;
    font-style: italic;
    color: #666;
}