<mat-toolbar class="playback-toolbar">
    <div class="songPlaying">
        <p class="track-info">Currently Playing: {{currentTrack}}</p>
    </div>
    <div class="middle">
        <div class="playbackButtons">
            <button>
                <mat-icon aria-hidden="false" fontIcon="replay_10"></mat-icon>
            </button>
            <button>
                <mat-icon aria-hidden="false" fontIcon="play_circle" class="play-button"></mat-icon>
            </button>
            <button>
                <mat-icon aria-hidden="false" fontIcon="forward_10"></mat-icon>
            </button>
        </div>
    </div>
    <div class="volume">
        <!-- Volume slider or controls -->
    </div>
</mat-toolbar>