<div class="wholePage">
  <app-search-bar id="topToolBar"></app-search-bar>
  <mat-sidenav-container class="sidenav-container">
      <mat-sidenav #sidenav mode="side" opened>
          <div class="custom-nav">
              <a mat-list-item routerLink="/" style="background-color: #303030; color: white;">Home</a>
              <a mat-list-item routerLink="/browse" style="background-color: #303030; color: white;">Browse</a>
              <a mat-list-item routerLink="/listen" style="background-color: #303030; color: white;">Listen</a>
              <a mat-list-item routerLink="/profile" style="background-color: #303030; color: white;">Profile</a>            
            </div>          
      </mat-sidenav>
  
      <mat-sidenav-content>
      <section>
          <router-outlet></router-outlet>
      </section>
      </mat-sidenav-content>
  </mat-sidenav-container>
  <app-playback id="playback"></app-playback>
  </div>  